# Ignore everything.
*

# But not these files...
!*.c
!*.h
!*.s
!*.S
!*.ld
!compose.yaml
!*.config
!dockerfile
!.dockerignore
!*.erl
!*.ex
!.gitignore
!.gitkeep
!*.hrl
!justfile
!license
!makefile
!*.md
!*.properties
!.properties
!*.py
!*.rec
!*.sbt
!.sbt
!*.scala
!*.sh
!*.sql
!*.src
# !*.txt
!*.vim
!.yamlfmt
!.copier-answers.yml
!nfpm.yaml
!.version

# Ada & Alire files.
!*.adb
!*.ads
!*.gpr
!alire.toml

# Git files & custom hooks directory.
!post-checkout
!pre-commit
!prepare-commit-msg
!other/git/hooks/*

# Test scripts directory.
!other/tests/*

# `gnu_make_api` files.
!deleted
!official

# etc...

# ...even if they are in subdirectories
!*/

# But do ignore these directories (and their contents entirely)
_build/
.metals/
project/
target/
tmp/*
!tmp/.gitkeep
typer_ann/
obj/
bin/
share/
alire/*
!alire/alire.lock

# vim: set fileformat=unix filetype=conf wrap :
