# Ignore everything
*

# But not these files...
!*.c
!*.config
!dockerfile
!.dockerignore
!*.erl
!*.ex
!.gitignore
!.gitkeep
!*.h
!*.hrl
!license
!makefile
!*.md
!*.properties
!.properties
!*.py
!*.sbt
!.sbt
!*.scala
!*.sh
!*.sql
!*.src
# !*.txt
!*.vim
!*.yaml
!.yamlfmt
!*.yml

# Git files.
!post-checkout
!pre-commit
!prepare-commit-msg

# `gnu_make_api` files.
!deleted
!official

# etc...

# ...even if they are in subdirectories
!*/

# But do ignore these directories
_build/
.metals/
project/
target/
tmp/
typer_ann/

# vim: set fileformat=unix filetype=conf wrap :
